<form [formGroup]= "loginForm" autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <i class="material-icons">account_circle</i>
      <input class="form-control" formControlName="username" placeholder="Username" required>
    </div>
    <div class="form-group">
      <i class="material-icons">lock</i>
      <input class="form-control" type="password" formControlName="password" placeholder="Password" required>
    </div>
    <input type="submit" value="Sign In" class="cta">
</form>
  