<div class="wrapper">
    <div class="wrapped-div">
      <div class="profileHead">
          <h2>Add Me</h2>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <form [formGroup]= "createPetForm" (ngSubmit)= "createPet()">
      
                <label>Area:</label>
                  <input type="text" class="form-control" formControlName="area" placeholder="Area" required>
                  <div class="error" *ngIf="createPetForm.controls['area'].errors && createPetForm.controls['area'].touched">
                    <mat-error *ngIf="createPetForm.controls['area'].errors.required">area is required.</mat-error>
                  </div>
                
                <label>Description:</label>
                  <input type="text-area" class="form-control" formControlName="description" placeholder="Iinsert pet type and gender"  required>
                  <div class="error" *ngIf="createPetForm.controls['description'].errors && createPetForm.controls['description'].touched">
                    <mat-error *ngIf="createPetForm.controls['description'].errors.required">description is required.</mat-error>
                  </div>

                  <div class="col">
                    <label for="userName">Photo</label>
                    <img [src]="imgURL" style="border-radius: inherit;" height="80" width="80" *ngIf="imgURL">
                    <input #file type="file" accept='image/*' (change)="onFileChange($event)" />
                </div>
                <img [src]="imageSrc" *ngIf="imageSrc" style=" width:200px">
              
                <div class="button">
                  <input type="submit" value="Add Me" class="cta">
                  <input type ="reset" value="Reset" class="cta" (click)="reset(); createPetForm.resetForm()" >
                </div>
            </form>
          </div>
        </div>
    </div>
</div>